[package]
name = "prelude"
version = "0.1.0"
edition.workspace = true
license.workspace = true
authors.workspace = true
repository.workspace = true
keywords.workspace = true

[lints]
workspace = true

[dependencies]
bon = "3.8"
regex = { version = "1", optional = true }
proto-types = { workspace = true, features = ["cel"] }
paste = "1"
bytes = "1"
askama = { workspace = true }
unindent = "0.2.4"
cel = { workspace = true }
thiserror = { workspace = true }
chrono = { workspace = true }
log = "0.4"
protocheck-core = { workspace = true }
owo-colors = { version = "4.2", optional = true }
inventory = "0.3.21"
ordermap = "1.0.0"
fxhash = "0.2.1"
prost = { workspace = true }
similar-asserts = { version = "1.7", optional = true }
constcat = { workspace = true }
float_eq = { workspace = true }

[features]
default = ["regex"]

testing = ["dep:owo-colors", "dep:similar-asserts"]
regex = ["dep:regex", "protocheck-core/regex"]
