{% import "render_macros.j2" as macros %}

{{ self.edition }};

package {{+ package }};

{%~ set sorted_imports = self.imports.as_sorted_vec() ~%}

{% for import in sorted_imports ~%}
import "{{ import }}";
{% endfor ~%}

{%~ for option in self.options +%}
option {{+ option.name +}} = {{+ option.value }};
{% endfor +%}

{%~ for extension in extensions ~%}
extend {{+ extension.target +}} {
  {% for field in extension.fields ~%}
  {%+ call macros::render_field(field, self.package, 2) %}
  {% endfor ~%}
}
{%~ endfor %}

{%~ for enum_ in enums ~%}
{{~ enum_ ~}}
{%~ endfor %}

{%~ for msg in messages ~%}
{{~ msg ~}}
{%~ endfor %}

{%~ for service in services ~%}
{{~ service ~}}
{%~ endfor %}
