message {{+ self.name +}} {
{% if let Some(names) = self.render_reserved_names() +%}
  {{+ names }}
{% endif %}

{% if let Some(numbers) = self.render_reserved_numbers() +%}
  {{+ numbers }}
{% endif %}

{% if let Some(options) = self.render_options() +%}
{{~ options }}
{% endif +%}

{% for enum_ in enums %}
{%+ filter indent(2) ~%}
{{+ enum_.render()? +}}
{%~ endfilter %}
{%~ endfor %}

{% for nested_msg in messages %}
{%+ filter indent(2) ~%}
{{+ nested_msg.render()? +}}
{%+ endfilter %}
{% endfor %}

{% for entry in self.entries %}
{%~ filter indent(2) ~%}
{{+ entry.render(self.package) ~}}
{% endfilter %}
{% endfor +%}
}
