service {{+ self.name +}} {
{% if let Some(options) = self.render_options() +%}
{{~ options }}
{% endif +%}

{% for handler in self.handlers %}
{% filter indent(2) ~%}
rpc {{+ handler.name +}} ({{ handler.request.render_name(self.package) }}) returns ({{ handler.response.render_name(self.package) }})
{%- if let Some(options) = handler.render_options() +%} { 
{{+ options }}
}
{% endif %};
{% endfilter %}
{% endfor ~%}
}
